td.details-control {
    cursor: pointer;
}

table.dataTable {
    width: 98% !important;
}

body{
	background-color: #BFBFBF !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-top: 4px solid #FCED05 !important;
    color:#000000 !important;
}

.padding-top-80px{
	padding-top: 80px !important;
	    border-bottom: 4px solid #FCED05 !important;
}

.typeahead { z-index: 1051; }

.loginPanel{
    background-color:rgba(64,64,64,0.3) !important;
    color: white;
}

.loginButton{
    background-color:rgba(54,54,54,0.8) !important;
    color: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black !important;
}
.footer {
				text-align: right;
				font-size: 11px;	
				border-top: 5px solid #D0D0D0;
				line-height: 15px;
				padding: 0 10px 0 10px;
				width: 100%;
				height: 50px;
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: #ffffff;
			}

			.huge {
				font-weight: bold;
				font-size: 20px;
			}

			.navbar-default {
				border-radius: 0px !important;
			}
			/* .modal-fullscreen 

			.modal-fullscreen {
			  background: transparent;
			}
			.modal-fullscreen .modal-content {
			  background: transparent;
			  border: 0;
			  -webkit-box-shadow: none;
			  box-shadow: none;
			}
			.modal-backdrop.modal-backdrop-fullscreen {
			  background: #ffffff;
			}
			.modal-backdrop.modal-backdrop-fullscreen.in {
			  opacity: .97;
			  filter: alpha(opacity=97);
			}*/

			/* .modal-fullscreen size: we use Bootstrap media query breakpoints 

			.modal-fullscreen .modal-dialog {
			  margin: 0;
			  margin-right: auto;
			  margin-left: auto;
			  width: 100%;
			}*/
			@media (min-width: 768px) {
			  .modal-fullscreen .modal-dialog {
				width: 750px;
			  }
			}
			@media (min-width: 992px) {
			  .modal-fullscreen .modal-dialog {
				width: 970px;
			  }
			}
			@media (min-width: 1200px) {
			  .modal-fullscreen .modal-dialog {
				 width: 1170px;
			  }
			}